<?xml version="1.0" encoding="utf-8"?>
<!--
- phpMyAdmin XML Dump
- version 3.4.1
- http://www.phpmyadmin.net
-
- Host: localhost
- Erstellungszeit: 25. Mai 2011 um 14:10
- Server Version: 5.1.51
- PHP-Version: 5.2.17-pl0-gentoo
-->

<pma_xml_export version="1.0">
    <!--
    - Datenbank: 'springcrm'
    -->
    <database name="springcrm">
        <!-- Tabelle phone_call -->
        <table name="phone_call">
            <column name="id">112</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes"></column>
            <column name="organization_id">9</column>
            <column name="person_id">13</column>
            <column name="start">2010-02-15 16:35:00</column>
            <column name="status">acknowledged</column>
            <column name="subject">Frage zu Antrag</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">118</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">nachfrage wg Formular - nicht ganz so eilig</column>
            <column name="organization_id">17</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-02-15 17:45:00</column>
            <column name="status">completed</column>
            <column name="subject">Testanruf</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">119</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">nachfrage wg Formular - nicht ganz so eilig</column>
            <column name="organization_id">17</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-02-16 18:00:00</column>
            <column name="status">planned</column>
            <column name="subject">[Followup] Testanruf</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">162</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">1. Nachfrage nach Aktualität der Faxnummer 030 28096496 - Aktualität bestätigt - versucht es noch einmal
2. Anfrage ob der Export aus dem Antragsformular auch für ausgewählte Daten möglich ist oder nur der Gesamtexport möglich ist - bittet um Rückruf

zu 1. erledigt
zu 2. Frau Kirchner löst den Auftrag zur Entwicklung dieser Erweiterung im Rahmen eines anderen Auftrags aus.</column>
            <column name="organization_id">9</column>
            <column name="person_id">137</column>
            <column name="start">2010-02-19 11:10:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf Frau Kirchner - Fax kommt nicht an - Antragsformular ob auch Export ausgewählter Daten möglich</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">204</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Anruf von Fr. Kuffner - auf Grund der versendeten Rg 12 - 15 bittet Hr. Gerlach um einen Termin zur genaueren Erörterung der Aufträge (was - wann - wo - durch wen). Desweiteren funktioniert der installierte schwarz-weiß Drucker nicht (druckt unscharf) - dieser sollte sich mit angesehen werden. Info meinerseits, dass zu diesem Termin die Auflistung der zurückgebuchten Abbuchungsaufträge mit übergeben wird (wd. von Fr. Kuffner mit Anke abgestimmt)</column>
            <column name="organization_id">2</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-02-23 09:40:00</column>
            <column name="status">completed</column>
            <column name="subject">Bitte an Daniel um Terminvereinbarung für 25.2. 13 Uhr od. 26.2. 12 Uhr</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">206</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Anruf von Fr. Kugler - hat Frage zu Servicevertrag (von uns versendet am 18.2.1010) bittet um Rückruf</column>
            <column name="organization_id">9</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-02-23 10:00:00</column>
            <column name="status">completed</column>
            <column name="subject">Frage zu ServiceVertrag gesendet per E-Mail am 18.2.2010</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">207</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Anruf von Fr. Schubert - unabhängig von Fr. Kugler - geht auch um den Wartungsvertrag - bittet um Rückruf</column>
            <column name="organization_id">9</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-02-23 10:05:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf von Fr. Schubert</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">251</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Anfrage bezgl des deutsch-polnischen Antrages - da fehlt noch etwas.</column>
            <column name="organization_id">9</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-01 11:00:00</column>
            <column name="status">completed</column>
            <column name="subject">Anfrage von Frau Schubert - bittet um Rückruf</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">281</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes"></column>
            <column name="organization_id">2</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-02 10:55:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf von Fr. Born - hat Fragen zu Typo3</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">292</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes"></column>
            <column name="organization_id">2</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-04 11:00:00</column>
            <column name="status">completed</column>
            <column name="subject">Annette Born - hat Fragen zur Erstellung von der Website. Bittet um Rückruf</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">339</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Seite funktioniert nicht richtig - Bsp. bei Klick auf Angebote stockt der Ladevorgang</column>
            <column name="organization_id">83</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-09 18:05:00</column>
            <column name="status">completed</column>
            <column name="subject">Webseite</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">347</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes"></column>
            <column name="organization_id">9</column>
            <column name="person_id">13</column>
            <column name="start">2010-03-10 09:50:00</column>
            <column name="status">completed</column>
            <column name="subject">Frage zu E-Mail inhaltlich - hat Verständnisproblem - bittet um Rückruf</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">356</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">nochmalige Zusendung der Rg 0007 und 0022 per Mail - Info über die Zahlungsweise - jetzt sollte alles bereinigt sein.</column>
            <column name="organization_id">2</column>
            <column name="person_id">4</column>
            <column name="start">2010-03-11 10:15:00</column>
            <column name="status">acknowledged</column>
            <column name="subject">Marion Kuffner hat Fragen zur Studeo-Rechnung</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">379</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes"></column>
            <column name="organization_id">30</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-11 18:10:00</column>
            <column name="status">completed</column>
            <column name="subject">Webseite - div. Vorschaubilder werden nicht angezeigt</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">416</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Mailserver leitet Mails nicht korrekt weiter - mit einem Tag Verspätung - wollte sich aber per Mail bei Dir melden

16.03.2010: Weiterleitung überprüft -&gt; funktioniert korrekt. Andreas Unger informiert.</column>
            <column name="organization_id">2</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-16 18:45:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf von Andreas</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">420</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">es drängt etwas, da ein Presseartikel in der DB Mobil von schubladen zu sehen ist und daher viele Zugriffe auf die Seite statt finden. Update ! Habe festgestellt, dass es sich bei den nicht korrekt dargestellten Grafiken um *.gif Dateien handelt. Sie hat bestätigt, dass sie diese als gif hochgeladen hat. Ich habe Ihr vorgeschlagen, solange Du nicht zum Beheben kommst, die Datein evtl. in *.jpg umzuwandeln evtl. ist die Darstellung dann korrekt. Frau Wodicka wird sehen ob sie es schafft.

16.03.2010: ich habe den Fehler an jweiland.net gemeldet. Warte auf Antwort.
17.03.2010: Fehler wurde behoben (Cache geleert, temporäre Bilddateien gelöscht, temporäre Bildinformationen in DB gelöscht)</column>
            <column name="organization_id">30</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-03-16 18:40:00</column>
            <column name="status">completed</column>
            <column name="subject">Dringend !! (Vorschau) Grafiken noch zum Teil nicht richtig angezeigt - siehe weitere Informationen</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">468</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Frau Zepak hat Fragen zum Drucken von Antrag ERE-192.</column>
            <column name="organization_id">58</column>
            <column name="person_id">152</column>
            <column name="start">2010-04-06 14:00:00</column>
            <column name="status">completed</column>
            <column name="subject">Klärung Druck Antrag ERE-192</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">873</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Fragen zur Erstellung einer Tabelle Typo3</column>
            <column name="organization_id">9</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-04-07 11:55:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf von Fr. Vastlova</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">891</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">- hatte gestern Anfrage gestellt
- bei Homepage ist was mit den rechten</column>
            <column name="organization_id">2</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-04-08 11:55:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf A. Unger</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">939</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">geht um Antragsformular</column>
            <column name="organization_id">9</column>
            <column name="person_id">135</column>
            <column name="start">2010-04-16 16:50:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf von Fr. Dziuk bittet um Rückruf am Mo</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">995</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes"></column>
            <column name="organization_id">2</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-04-27 09:45:00</column>
            <column name="status">completed</column>
            <column name="subject">Annette Born wollte nochmals nachfragen wegen URL Rewriting - bittet um Rückruf - eilt aber nicht</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">997</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">hatte Fragen zu Webseite (E-Mail) - chronologisches ordnen der News - Du möchtest Sie bitte zurückrufen</column>
            <column name="organization_id">97</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-04-28 10:15:00</column>
            <column name="status">completed</column>
            <column name="subject">Anruf Kerstin Schütz</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">1020</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Hallo Daniel, kannst Du Dich bitte mal mit Lukowski in Verbindung setzen - auf der Webseite sind noch textliche Unstimmigkeiten, die geändert werden sollten und diese Information (lt. Lukowski 6-7 Wochen alt) bei uns offenbar untergegangen ist oder aber uns garnicht mitgeteilt wurde. Hr. Lukowski möchte diese Dinge gerne noch geändert haben bzw. bittet um die Zugangsdaten für Typo 3, damit er die Änderungen selbst vornehmen kann. Dies ist der Grund für die Nichtbezahlung der Rechnung. Wird den Betrag heute noch anweisen.</column>
            <column name="organization_id">70</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-05-04 15:30:00</column>
            <column name="status">planned</column>
            <column name="subject">Unstimmigkeiten auf der Webseite</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">1158</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Gespräch mit Hr. Placo, Info, dass er Angebot im Laufe der nächsten Woche erhält - gewünscht an info@armlehnecenter.de - nach Angebotsabgabe tel. Erläuterung und ggf. Absprache zur Projektumsetzung - evtl. auch Serverberatung (momentan bei Host Europe f. 20 Euro p.m.) - ist sich außerdem noch unschlüssig ob er sich einen kpl. neuen Shop erstellen lässt - z.B. XtCommerce - Hinweis auf Magento - gibt jedoch Server nicht her.</column>
            <column name="organization_id">1155</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-05-26 09:55:00</column>
            <column name="status">acknowledged</column>
            <column name="subject">Absprache Abgabe Angebot</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">1167</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Gespräch m. hr. placo, lässt sich einen xtCommerce Shop erstellen von einem Unternehmen vor Ort für 730 Euro.</column>
            <column name="organization_id">1155</column>
            <column name="person_id">NULL</column>
            <column name="start">2010-06-11 17:10:00</column>
            <column name="status">acknowledged</column>
            <column name="subject">Nachfrage Angebot</column>
            <column name="type">incoming</column>
        </table>
        <table name="phone_call">
            <column name="id">1238</column>
            <column name="version">0</column>
            <column name="date_created">2011-05-25 14:10:13</column>
            <column name="last_updated">2011-05-25 14:10:13</column>
            <column name="notes">Gespräch mit Fr. Zech - ist grundsätzlich an einer Auftragsvergabe interessiert und wenn, dann würde dies bei uns umgesetzt werden, Fr. Zech konnte sich jedoch absolut noch keine Gedanken machen wird sich aber bei uns melden, nur der Zeitpunkt steht noch nicht fest.</column>
            <column name="organization_id">1160</column>
            <column name="person_id">1161</column>
            <column name="start">2010-07-27 16:25:00</column>
            <column name="status">acknowledged</column>
            <column name="subject">Nachfrage Angbeot</column>
            <column name="type">incoming</column>
        </table>
    </database>
</pma_xml_export>