/* reset styles *
html { color: black; background: white; }
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, iframe, img, table { border: none; }
address, caption, cite, code, dfn, em, optgroup, strong, th, var { font-style: inherit; font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:after, q:before { content: ""; }
abbr, acronym { border: none; font-variant: normal; }
sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
legend { color: black; }
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
article, aside, footer, header, hgroup, nav, section { display: block; }
*/

/* general styles */
html { color: #444; }
body { font: 11px/1.231 "DejaVu Sans Condensed", "DejaVu Sans", "Helvetica Neue LT Std", Tahoma, Arial, sans-serif; background:#FFF; }
a { color: #567B0F; text-decoration: none; }
a:hover { color: #2F4E10; }
body.mceForceColors {background:#FFF; color:#000;}
p, td, th { font-size: 11px; }
dt { font-weight: bold; }
h1, h2, h3, h4 { font-family: "Liberation Sans", Arial, sans-serif; }
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
hr { background: #7D7D7D; border-style: solid; border-width: 0; height: 1px; }
fieldset, p, pre, table { margin-bottom: 10px; }
p { line-height: 130%; margin-top: 0; }
dd, dt, li { line-height: 130%; margin-bottom: 5px; }
blockquote, dl, ol, ul { margin: 5px; }
dl, ol, ul { margin-left: 10px; }
ol li { list-style: decimal outside; }
ul li { list-style: disc outside; }
dl { margin-left: 0; }
dl dd { margin-left: 10px; }
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; width:11px !important; height:11px  !important; background:url(../default/img/items.gif) no-repeat 0 0;}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr, acronym { border-bottom: 1px dotted #7D7D7D; cursor: help; }
strong { font-weight: bold; }
del { text-decoration: line-through; }
em { font-style: italic; }
sub { vertical-align: sub; }
sup { vertical-align: super; }
caption { caption-side: bottom; font-size: 11px; margin-bottom: .5em; margin-top: 1em; text-align: center; }
td, th { padding: .2em; }
th { font-weight: bold; text-align: center; }

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}

.mceItemMedia {border:1px dotted #cc0000; background-position:center; background-repeat:no-repeat; background-color:#ffffcc}
.mceItemShockWave {background-image:url(../../img/shockwave.gif)}
.mceItemFlash {background-image:url(../../img/flash.gif)}
.mceItemQuickTime {background-image:url(../../img/quicktime.gif)}
.mceItemWindowsMedia {background-image:url(../../img/windowsmedia.gif)}
.mceItemRealMedia {background-image:url(../../img/realmedia.gif)}
.mceItemVideo {background-image:url(../../img/video.gif)}
.mceItemAudio {background-image:url(../../img/video.gif)}
.mceItemIframe {background-image:url(../../img/iframe.gif)}
.mcePageBreak {display:block;border:0;width:100%;height:12px;border-top:1px dotted #ccc;margin-top:15px;background:#fff url(../../img/pagebreak.gif) no-repeat center top;}
