/* Reset */
.springcrmSkin table, .springcrmSkin tbody, .springcrmSkin a, .springcrmSkin img, .springcrmSkin tr, .springcrmSkin div, .springcrmSkin td, .springcrmSkin iframe, .springcrmSkin span, .springcrmSkin *, .springcrmSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.springcrmSkin a:hover, .springcrmSkin a:link, .springcrmSkin a:visited, .springcrmSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.springcrmSkin table td {vertical-align:middle}

/* Containers */
.springcrmSkin table {background:transparent}
.springcrmSkin iframe {display:block;}
.springcrmSkin .mceToolbar {height:26px}

/* External */
.springcrmSkin .mceExternalToolbar {position:absolute; border:1px solid #ABC6DD; border-bottom:0; display:none}
.springcrmSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.springcrmSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.springcrmSkin table.mceLayout {border:0; border-left:1px solid #ABC6DD; border-right:1px solid #ABC6DD}
.springcrmSkin table.mceLayout tr.mceFirst td {border-top:1px solid #ABC6DD}
.springcrmSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #ABC6DD}
.springcrmSkin table.mceToolbar, .springcrmSkin tr.mceFirst .mceToolbar tr td, .springcrmSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.springcrmSkin .mceIframeContainer {border-top:1px solid #ABC6DD; border-bottom:1px solid #ABC6DD}
.springcrmSkin td.mceToolbar{background:#E5EFFD}
.springcrmSkin .mceStatusbar {background:#E5EFFD; display:block; font-family:"DejaVu Sans Condensed", "DejaVu Sans", "Helvetica Neue LT Std", Tahoma, Arial, sans-serif; font-size:9px; line-height:16px; overflow:visible; color:#000; height:20px}
.springcrmSkin .mceStatusbar div {float:left; padding:2px}
.springcrmSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.springcrmSkin .mceStatusbar a:hover {text-decoration:underline}
.springcrmSkin table.mceToolbar {margin-left:3px}
.springcrmSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px; margin-left:3px;}
.springcrmSkin .mceToolbar td.mceFirst span {margin:0}
.springcrmSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px}
.springcrmSkin .mceToolbar .mceToolbarEndListBox span, .springcrmSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.springcrmSkin span.mceIcon, .springcrmSkin img.mceIcon {display:block; width:20px; height:20px}
.springcrmSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.springcrmSkin td.mceCenter {text-align:center;}
.springcrmSkin td.mceCenter table {margin:0 auto; text-align:left;}
.springcrmSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.springcrmSkin .mceButton {display:block; background:url(img/button_bg.png); width:22px; height:22px}
.springcrmSkin a.mceButton span, .springcrmSkin a.mceButton img {margin-left:1px}
.springcrmSkin .mceOldBoxModel a.mceButton span, .springcrmSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.springcrmSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.springcrmSkin a.mceButtonActive, .springcrmSkin a.mceButtonSelected {background-position:0 -44px}
.springcrmSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.springcrmSkin .mceButtonLabeled {width:auto}
.springcrmSkin .mceButtonLabeled span.mceIcon {float:left}
.springcrmSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.springcrmSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.springcrmSkin .mceSeparator {display:block; background:url(img/button_bg.png) -22px 0; width:5px; height:22px}

/* ListBox */
.springcrmSkin .mceListBox  {padding-left: 3px}
.springcrmSkin .mceListBox, .springcrmSkin .mceListBox a {display:block}
.springcrmSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #b3c7e1; border-right:0; background:#eaf2fb; font-family:"DejaVu Sans Condensed", "DejaVu Sans", "Helvetica Neue LT Std", Tahoma, Arial, sans-serif; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.springcrmSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg.png) -66px 0}
.springcrmSkin table.mceListBoxEnabled:hover .mceText, .springcrmSkin .mceListBoxHover .mceText, .springcrmSkin .mceListBoxSelected .mceText {background:#FFF}
.springcrmSkin table.mceListBoxEnabled:hover .mceOpen, .springcrmSkin .mceListBoxHover .mceOpen, .springcrmSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.springcrmSkin .mceListBoxDisabled .mceText {color:gray}
.springcrmSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden; margin-left:3px}
.springcrmSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.springcrmSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.springcrmSkin .mceSplitButton, .springcrmSkin .mceSplitButton a, .springcrmSkin .mceSplitButton span {display:block; height:22px; direction:ltr}
.springcrmSkin .mceSplitButton {background:url(img/button_bg.png)}
.springcrmSkin .mceSplitButton a.mceAction {width:22px}
.springcrmSkin .mceSplitButton span.mceAction {width:22px; background-image:url(../../img/icons.gif)}
.springcrmSkin .mceSplitButton a.mceOpen {width:10px; background:url(img/button_bg.png) -44px 0}
.springcrmSkin .mceSplitButton span.mceOpen {display:none}
.springcrmSkin table.mceSplitButtonEnabled:hover a.mceAction, .springcrmSkin .mceSplitButtonHover a.mceAction, .springcrmSkin .mceSplitButtonSelected {background:url(img/button_bg.png) 0 -22px}
.springcrmSkin table.mceSplitButtonEnabled:hover a.mceOpen, .springcrmSkin .mceSplitButtonHover a.mceOpen, .springcrmSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.springcrmSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.springcrmSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.springcrmSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.springcrmSkin .mceColorSplitMenu td {padding:2px}
.springcrmSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.springcrmSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.springcrmSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:"DejaVu Sans Condensed", "DejaVu Sans", "Helvetica Neue LT Std", Tahoma, Arial, sans-serif; font-size:11px; line-height:20px; border:1px solid #FFF}
.springcrmSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.springcrmSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.springcrmSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.springcrmSkin .mce_forecolor span.mceAction, .springcrmSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.springcrmSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #ABC6DD}
.springcrmSkin .mceNoIcons span.mceIcon {width:0;}
.springcrmSkin .mceNoIcons a .mceText {padding-left:10px}
.springcrmSkin .mceMenu table {background:#FFF}
.springcrmSkin .mceMenu a, .springcrmSkin .mceMenu span, .springcrmSkin .mceMenu {display:block}
.springcrmSkin .mceMenu td {height:20px}
.springcrmSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.springcrmSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.springcrmSkin .mceMenu span.mceText, .springcrmSkin .mceMenu .mcePreview {font-size:11px}
.springcrmSkin .mceMenu pre.mceText {font-family:Monospace}
.springcrmSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.springcrmSkin .mceMenu .mceMenuItemEnabled a:hover, .springcrmSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.springcrmSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.springcrmSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #ABC6DD}
.springcrmSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.springcrmSkin .mceMenuItemDisabled .mceText {color:#888}
.springcrmSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.springcrmSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.springcrmSkin .mceMenu span.mceMenuLine {display:none}
.springcrmSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}
.springcrmSkin .mceMenuItem td, .springcrmSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.springcrmSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#FFF}
.springcrmSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.springcrmSkin .mce_formatPreview a {font-size:10px}
.springcrmSkin .mce_p span.mceText {}
.springcrmSkin .mce_address span.mceText {font-style:italic}
.springcrmSkin .mce_pre span.mceText {font-family:monospace}
.springcrmSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.springcrmSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.springcrmSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.springcrmSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.springcrmSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.springcrmSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.springcrmSkin span.mce_bold {background-position:0 0}
.springcrmSkin span.mce_italic {background-position:-60px 0}
.springcrmSkin span.mce_underline {background-position:-140px 0}
.springcrmSkin span.mce_strikethrough {background-position:-120px 0}
.springcrmSkin span.mce_undo {background-position:-160px 0}
.springcrmSkin span.mce_redo {background-position:-100px 0}
.springcrmSkin span.mce_cleanup {background-position:-40px 0}
.springcrmSkin span.mce_bullist {background-position:-20px 0}
.springcrmSkin span.mce_numlist {background-position:-80px 0}
.springcrmSkin span.mce_justifyleft {background-position:-460px 0}
.springcrmSkin span.mce_justifyright {background-position:-480px 0}
.springcrmSkin span.mce_justifycenter {background-position:-420px 0}
.springcrmSkin span.mce_justifyfull {background-position:-440px 0}
.springcrmSkin span.mce_anchor {background-position:-200px 0}
.springcrmSkin span.mce_indent {background-position:-400px 0}
.springcrmSkin span.mce_outdent {background-position:-540px 0}
.springcrmSkin span.mce_link {background-position:-500px 0}
.springcrmSkin span.mce_unlink {background-position:-640px 0}
.springcrmSkin span.mce_sub {background-position:-600px 0}
.springcrmSkin span.mce_sup {background-position:-620px 0}
.springcrmSkin span.mce_removeformat {background-position:-580px 0}
.springcrmSkin span.mce_newdocument {background-position:-520px 0}
.springcrmSkin span.mce_image {background-position:-380px 0}
.springcrmSkin span.mce_help {background-position:-340px 0}
.springcrmSkin span.mce_code {background-position:-260px 0}
.springcrmSkin span.mce_hr {background-position:-360px 0}
.springcrmSkin span.mce_visualaid {background-position:-660px 0}
.springcrmSkin span.mce_charmap {background-position:-240px 0}
.springcrmSkin span.mce_paste {background-position:-560px 0}
.springcrmSkin span.mce_copy {background-position:-700px 0}
.springcrmSkin span.mce_cut {background-position:-680px 0}
.springcrmSkin span.mce_blockquote {background-position:-220px 0}
.springcrmSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.springcrmSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.springcrmSkin span.mce_forecolorpicker {background-position:-720px 0}
.springcrmSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.springcrmSkin span.mce_advhr {background-position:-0px -20px}
.springcrmSkin span.mce_ltr {background-position:-20px -20px}
.springcrmSkin span.mce_rtl {background-position:-40px -20px}
.springcrmSkin span.mce_emotions {background-position:-60px -20px}
.springcrmSkin span.mce_fullpage {background-position:-80px -20px}
.springcrmSkin span.mce_fullscreen {background-position:-100px -20px}
.springcrmSkin span.mce_iespell {background-position:-120px -20px}
.springcrmSkin span.mce_insertdate {background-position:-140px -20px}
.springcrmSkin span.mce_inserttime {background-position:-160px -20px}
.springcrmSkin span.mce_absolute {background-position:-180px -20px}
.springcrmSkin span.mce_backward {background-position:-200px -20px}
.springcrmSkin span.mce_forward {background-position:-220px -20px}
.springcrmSkin span.mce_insert_layer {background-position:-240px -20px}
.springcrmSkin span.mce_insertlayer {background-position:-260px -20px}
.springcrmSkin span.mce_movebackward {background-position:-280px -20px}
.springcrmSkin span.mce_moveforward {background-position:-300px -20px}
.springcrmSkin span.mce_media {background-position:-320px -20px}
.springcrmSkin span.mce_nonbreaking {background-position:-340px -20px}
.springcrmSkin span.mce_pastetext {background-position:-360px -20px}
.springcrmSkin span.mce_pasteword {background-position:-380px -20px}
.springcrmSkin span.mce_selectall {background-position:-400px -20px}
.springcrmSkin span.mce_preview {background-position:-420px -20px}
.springcrmSkin span.mce_print {background-position:-440px -20px}
.springcrmSkin span.mce_cancel {background-position:-460px -20px}
.springcrmSkin span.mce_save {background-position:-480px -20px}
.springcrmSkin span.mce_replace {background-position:-500px -20px}
.springcrmSkin span.mce_search {background-position:-520px -20px}
.springcrmSkin span.mce_styleprops {background-position:-560px -20px}
.springcrmSkin span.mce_table {background-position:-580px -20px}
.springcrmSkin span.mce_cell_props {background-position:-600px -20px}
.springcrmSkin span.mce_delete_table {background-position:-620px -20px}
.springcrmSkin span.mce_delete_col {background-position:-640px -20px}
.springcrmSkin span.mce_delete_row {background-position:-660px -20px}
.springcrmSkin span.mce_col_after {background-position:-680px -20px}
.springcrmSkin span.mce_col_before {background-position:-700px -20px}
.springcrmSkin span.mce_row_after {background-position:-720px -20px}
.springcrmSkin span.mce_row_before {background-position:-740px -20px}
.springcrmSkin span.mce_merge_cells {background-position:-760px -20px}
.springcrmSkin span.mce_table_props {background-position:-980px -20px}
.springcrmSkin span.mce_row_props {background-position:-780px -20px}
.springcrmSkin span.mce_split_cells {background-position:-800px -20px}
.springcrmSkin span.mce_template {background-position:-820px -20px}
.springcrmSkin span.mce_visualchars {background-position:-840px -20px}
.springcrmSkin span.mce_abbr {background-position:-860px -20px}
.springcrmSkin span.mce_acronym {background-position:-880px -20px}
.springcrmSkin span.mce_attribs {background-position:-900px -20px}
.springcrmSkin span.mce_cite {background-position:-920px -20px}
.springcrmSkin span.mce_del {background-position:-940px -20px}
.springcrmSkin span.mce_ins {background-position:-960px -20px}
.springcrmSkin span.mce_pagebreak {background-position:0 -40px}
.springcrmSkin span.mce_restoredraft {background-position:-20px -40px}
.springcrmSkin span.mce_spellchecker {background-position:-540px -20px}
