<div class="input-group">
  <input type="text" class="form-control" value="{{value}}" />
  <div class="input-group-btn">
    <button type="button" class="btn btn-default accept-btn">
      <i class="fa fa-check text-success"></i>
    </button>
    <button type="button" class="btn btn-default cancel-btn">
      <i class="fa fa-times text-danger"></i>
    </button>
  </div>
</div>
