<div class="file-preview {class}">
  <div class="{dropClass}">
    <div class="file-preview-thumbnails"></div>
    <div class="clearfix"></div>
    <div class="file-preview-status text-center text-success"></div>
    <div class="kv-fileinput-error"></div>
  </div>
  <button type="button"
    class="btn btn-danger btn-xs btn-block fileinput-remove">
    <i class="fa fa-trash"></i> {{message 'person.picture.delete'}}
  </button>
</div>
